.create_notes{
  border: #00abff;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: brown;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  padding-top: 2px;
}
.clear_notes{
  border: #00abff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: brown;
  color: #ffffff;
  padding-bottom: 6px;
  font-size: 20px;
  text-align: center;
font-family: "Comic Sans MS";
}
.clear_p{
  margin: 0px;

}
.box_note{
  background: #1c251e;
  width: 350px;
  float: left;
  border-radius: 10px;

}
