.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: linear-gradient(#acac87, #fff75e);

  height: 80px;
  padding: 20px;
  color: white;
  box-shadow: inset 0px 0px 30px 5px black,
0px 0px 30px 2px bisque;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.indentation{
  margin-top: 500px;
}
@import "buttonApp";
@import "textApp";
